.loader-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $reveal-overlay-background;
  cursor: wait;
  opacity: 0;
  visibility: hidden;
  z-index: 99991;
  align-items: center;
  justify-content: center;

  .is-loading & {
    opacity: 1;
    visibility: visible;
  }
}
