.logo-list {
  width: 100%;
  max-width: 100%;

  &__wrapper {
    display: flex;
    margin: 0 -0.25rem;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    @include breakpoint(large) {
      margin: 0 -1.5rem;
    }
  }

  &__item {
    padding: 0 0.25rem;
    text-align: center;
    flex: 0 1 auto;

    @include breakpoint(medium) {
      padding: 0.5rem;

      .content-block__layout--full-width & {
        padding: 1.5rem;
      }
    }

    img {
      width: 100%;

      .content-block__layout--full-width & {
        max-width: 130px;

        @include breakpoint(medium) {
          max-width: 160px;
        }

        @include breakpoint(xlarge) {
          max-width: 190px;
        }
      }

      &:not([src$=".svg"]) {
        width: auto;
        max-height: 180px;

        .content-block__layout--full-width & {
          max-height: 70px;

          @include breakpoint(medium) {
            max-height: 100px;
          }

          @include breakpoint(xlarge) {
            max-height: 120px;
          }
        }
      }
    }
  }
}

